::-webkit-scrollbar {
    display: none;
}

body{
    overflow:hidden;
}

.navbarDiv{
    padding: 6px;
}

.header1{
	position: relative;
	width: 100%;
	height: 52px;
	background-color: rgb(80, 80, 80);
    box-shadow: 0px 3px 5px #aaa;
    z-index: 3;
}

.headerImage{
	position: relative;
	float: left;
    margin: 7px;
	width: 36px;
	height: 36px;
    background-size: cover;
	background-image: url("../../assets/Picture1.png");
}

.header_title{
    position: absolute;
    left: 60px;
    top: 17px;
    font-size: 1.6em;
    color: rgb(249, 141, 62);
    font-weight: bold;
    cursor: default;
}

.header_title:hover{
    color: rgb(249, 141, 62);
    font-weight: bold;

}

.inputFieldDiv{
	position: relative;
    padding-left: 30px;
	width: 100%;
	height: 180px;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
    background-color: rgb(252, 251, 249);
    border: 1px solid rgb(200, 200, 200);
}

.inputFieldTitle{
    position: absolute;
    top: 15px;
    left: 20px;
}

.title{
    font-size: 2.4em;
}
.inputField1{
    position: absolute;
    left: 20px;
    top: 70px;
	height: 50px;
	width: 700px;
    line-height: 50px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.inputFieldMessage{
    position: absolute;
    top: 75px;
    right: 20px;

}

.content{
    height:50px;
    width: 380px;
}

.inputField2{
    position: absolute;
    top: 120px;
    left: 20px;
	height: 50px;
	width: 700px;
    line-height: 50px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.inputFieldText{
	margin-left: 30px;
	font-size: 32px;
}

.input{
	margin-right: 30px;
	width: 60%;
}


.courseListDiv{
    padding: 0px;
	position: relative;
	width: 100%;
	height: 800px;
	display: flex;
	flex-direction: row;
}


.courseListLeftSubject{
	width: 40%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
}

.leftList{
	width: 110px;
    height: 570px;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
    overflow-x: hidden;
	overflow-y: auto;
    list-style-type:none;
    margin:0px;
    padding: 20px 0px 0px 0px;
    float: right;
}

.rightList{

    height: 570px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    overflow-y: auto;
    overflow-x: hidden;
    list-style-type:none;
    margin:0px;
    padding: 10px 30px;
    float: left;
}

.ui.card, .ui.cards>.card{
    box-shadow: none;
}

.card_header{
    background-color: white;
}

.ui.table td{
    padding: 0px;
}

.ui.table thead{
    text-align: center;
}


.ui.selection.list .list>.item, .ui.selection.list>.item{
    color: black;
}

.listItem{
    margin-bottom: 5px;
	width: 70px;
    margin-right: -50px;
    float: right;
    padding-left: 10px;
    height:50px;
    line-height: 50px;
    font-size: 1.0em;
    vertical-align: middle;
    border-color: rgb(200, 200, 200);
    border-style: solid;
    border-width: 1px 0px 1px 1px;
    border-radius: 5px 0px 0px 5px;
    cursor: pointer;
}

.rightItem{
    width: 100%;
    padding-left: 10px;
    height:50px;
    line-height: 50px;
    font-size: 1.1em;
    vertical-align: middle;
}

.leftList li:nth-child(3n+1){
    background-color: rgb(139, 192, 247);
}

.leftList li:nth-child(3n+2){
    background-color: rgb(183, 247, 143);
}

.leftList li:nth-child(3n+3){
    background-color: rgb(255, 206, 111);
}

.leftList > li:hover{
    width: 90px;
}

.leftList .selected{
    width: 110px;
    border: 2px solid purple;
}

.leftList .selected:hover{
    width: 110px;
}

.listButton{
	width: 101%;
}

.courseListRightCourse{
	width: 60%;
	height: 830px;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;


}

.courseListTitle{
	font-size: 40px;
}

.courseDetail{
    padding: 40px;
    position: absolute;
    top: 40px;
    height: 560px;
    min-width: 420px;

    .courseId{
        margin: 0px;
        padding-left: 5px;
    }

    .courseName{
        margin:0px;
        font-size: 1.0em;
        font-weight: normal;
        border-top: 1px solid red;
        padding-top: 5px;
        width: 100%;
        padding-left: 5px;
    }

    .creditInfo{
        font-size: 1.0em;
        font-weight: normal;
        color: #999;
        font-style: italic;
        margin-top: 20px;
        margin-bottom: 5px;
        padding-left: 5px;
    }

    .courseInfo{
        padding-left: 5px;
    }

    .addCourseButton{
        position: absolute;
        bottom: -5px;
        left: 30px;
    }

}

.bottomHintText{
	min-width: 60%;
	font-size: 20px;
	text-align: center;
}


.bodyDivInnerRight{
	position: relative;
	width: 75%;
	height: 850px;
    background-color: rgb(252, 251, 249);
}


.planInfoDiv{
	position: relative;
	float: right;
	width: 25%;
	height: 850px;
    background-color: rgb(252, 251, 249);
    box-shadow: 1px 0px 1px #ccc;
    z-index: 2;
    text-align: center;
}

.planInfoTitle{
    padding-top: 15px;
}

.planName{
    margin-top: 10px;
    height: 50px;
    width: 100%;
    background-color: rgb(250,250,250);
    border-top: 1px solid rgb(200,200,200);
    border-bottom: 2px solid rgb(200,200,200);
}

.nameTag{
    top: 85px;
    position: absolute;
    display: block;
    left: 20px;
}

.nameInput{
    top: 6px;
    position: absolute;
    left: 70px;
}

.courseListTag{

    text-align: left;
    padding-top: 5px;
    padding-left: 19px;
    background-color: rgb(245,245,245);
    height: 35px;
    border-bottom: 1px solid rgb(200,200,200);
    border-top: 2px solid rgb(244, 161, 0);
}

.credit{
    position: absolute;
    right: 10px;
    top: 130px;
    font-size: 1.0em;
}

.courseList{
    height: 580px;
    background-color: rgb(254, 254, 254);

}

.addList{

    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    overflow-y: auto;
    overflow-x: hidden;
    list-style-type:none;
    padding-top: 20px;
    padding-left: 0px;
    float: left;
    margin:0px;

}

.ui.tag.label, .ui.tag.labels .label{
    width: 90%;
    text-align: left;
}

.addTag{
    margin-bottom: 10px;
}

.delete{
    position: absolute;
    right: 5px;
    font-weight: bold;
}

.buttons{
    padding-top: 10px;
    height: 65px;
    border-bottom: 1px solid rgb(200,200,200);
        background-color: rgb(254, 254, 254);
}

.ui.primary.button, .ui.primary.buttons .button{
    margin : 0px 20px;
}



.bodyDiv{
	position: relative;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: top;
}

.footer{
    width:100%;
    height: 160px;
    background-color: rgb(80, 80, 80);

}
